[submodule "gem5"]
	path = gem5
	url = git@github-miuzujia:miuzujia2018-stack/gem5.git
	branch = gem5-gpu-hetsub
[submodule "gem5-gpu"]
	path = gem5-gpu
	url = git@github-miuzujia:miuzujia2018-stack/gem5-gpu.git
	branch = gem5-gpu-xy
[submodule "gpgpu-sim"]
	path = gpgpu-sim
	url = git@github-miuzujia:miuzujia2018-stack/gpgpu-sim.git
	branch = gem5-gpu-xy
[submodule "Graphite"]
	path = Graphite
	url = git@github-miuzujia:miuzujia2018-stack/graphite.git
	branch = gem5-gpu-xy
[submodule "benchmarks"]
	path = benchmarks
	url = git@github-miuzujia:miuzujia2018-stack/benchmarks.git
	branch = gem5-gpu-hetsub
